.all-movies-card {
  position: relative;
}

.all-movies-card__button {
  position: absolute;
  top: 12px;
  right: 15px;
  opacity: 1;
  transition: all 0.25s linear;
  visibility: visible;
}

.all-movies-card__button_hidden {
  opacity: 0;
  visibility: hidden;
}

.all-movies-card__button_checked {
  top: 12px;
  right: 13px;
}

@media screen and (max-width: 460px) {
  .all-movies-card__button {
    top: 8px;
    right: 10px;
  }

  .all-movies-card__button_checked {
    top: 10px;
    right: 12px;
  }
}
