.techs-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px 0;
  padding: 0;
}

.techs-list__item {
  margin: 0 10px 0 0;
  padding: 0;
}

.techs-list__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .techs-list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .techs-list__item {
    font-size: 12px;
    line-height: 15px;

    max-width: 84px;
    max-height: 57px;

    margin: 0;
  }
}
