.movies-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movies-list__card-list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 30px;

  max-width: 1140px;

  margin: 0 auto;
  padding: 0;
}

.movies-list__nothing-found {
  display: flex;
  justify-content: center;
}

.movies-list__card {
  overflow: hidden;
}

.movies-list__more-button {
  width: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  border-radius: 6px;

  margin-top: 75px;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .movies-list__card-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 29px;
  }
}

@media screen and (max-width: 540px) {
  .movies-list__card-list {
    grid-template-columns: 1fr;
  }
}
