@keyframes bounce-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.movies-card {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 360px;
  max-height: 250px;

  box-sizing: content-box;

  transition: all 3s linear;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 14px 14px 0 14px;
}

.movies-card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000;

  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__poster {
  width: 100%;
  height: 201px;

  object-fit: cover;
  cursor: pointer;

  border-radius: 6px;
}

.movies-card {
  animation: bounce-in 1s;
}

.movies-card_hidden {
  animation: bounce-in 1s reverse;
}

.movies-card__duration {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  line-height: 10px;
  color: #a0a0a0;

  width: 52px;
  height: 18px;

  background-color: #f4f4f4;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .movies-card__info {
    margin: 25px 12px 0 0;
  }

  .movies-card__poster {
    max-height: 190px;
  }
}

@media screen and (max-width: 460px) {
  .movies-card__info {
    margin: 15px 12px 0 0;
  }

  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__poster {
    max-height: 168px;
  }
}
