.mobile-menu {
}

.mobile-menu__open-button {
  width: 45px;
  height: 38px;
}

.mobile-menu__container {
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;

  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 999;

  width: 67.7%;
  height: 100%;

  opacity: 0;

  transition: all 0.5s ease-in-out;
}

.mobile-menu__container_visible {
  transform: translate(-100vw, 0);
  opacity: 1;
}

.mobile-menu__close-button {
  width: 30px;
  height: 30px;

  margin: 23px 23px 0 auto;
}
