.mobile-menu__open-button {
  width: 45px;
  height: 38px;
}

.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  width: 100vw;
  height: 100vh;

  visibility: hidden;
  transition: background .3s linear, visibility .3s linear;
  background-color: transparent;

}

.mobile-menu__overlay_visible {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.3);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;

  position: fixed;
  top: 0;
  right: -100vw;

  width: 67.7%;
  height: 100%;

  opacity: 0;

  transition: all 0.5s ease-in-out;
}

.mobile-menu__container_visible {
  transform: translate(-100vw, 0);
  opacity: 1;
}

.mobile-menu__close-button {
  width: 30px;
  height: 30px;

  margin: 23px 23px 0 auto;
}

@media screen and (max-width: 460px) {
  .mobile-menu__container {
    width: 100%;
  }

  .mobile-menu__open-button {
    width: 32px;
    height: 35px;
    margin-right: 4px;
    margin-bottom: 3px;
  }

  .mobile-menu__close-button {
    width: 32px;
    height: 32px;

    margin: 13px 13px 0 auto;
  }
}
