@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.movies-card {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 250px;
  box-sizing: content-box;
  flex-direction: column;
  transition: all 3s linear;

  /* animation: bounce-in 1s; */
}

.movies-card_hidden {
  /* TODO */

  /* animation: bounce-in 1s reverse; */
}

.movies-card__info {
  display: flex;
  overflow: hidden;
  height: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 14px 14px 0 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__name {
  overflow: hidden;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
}

.movies-card__poster {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  cursor: pointer;
  object-fit: cover;
}

.movies-card__loading-wrapper {
  display: flex;
  animation: loading 1.2s ease-in-out infinite;
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  background-size: 400%;
  color: transparent;
}

.movies-card__duration {
  display: flex;
  width: 52px;
  height: 18px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 3px;
  color: #a0a0a0;
  font-size: 11px;
  line-height: 10px;
}

@media screen and (max-width: 768px) {
  .movies-card__info {
    margin: 25px 12px 0 0;
  }

  .movies-card__poster {
    max-height: 190px;
  }
}

@media screen and (max-width: 460px) {
  .movies-card__info {
    margin: 15px 12px 0 0;
  }

  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__poster {
    max-height: 168px;
  }
}
