.movies {
  width: calc(100% - 140px);
  margin: 0 auto 51px
}

@media screen and (max-width: 768px) {
  .movies {
    width: calc(100% - 60px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 460px){
  .movies {
    width: calc(100% - 20px);
    margin-bottom: 67px;
  }
}
