.button {
  cursor: pointer;
  text-align: center;

  border: 0;
}

.button_theme_azure {
  background-color: #3456f3;
  color: #fff;
}

.button_theme_ghost {
  background-color: #e8e8e8;
  color: #000;
}

.button_theme_light {
  background-color: #fff;
  color: #000;
}
