.menu {
  align-items: center;
}



@media screen and (max-width: 768px) {
  .menu {
    width: auto;
  }

  .menu__hamburger-button {
    display: flex;
    padding-bottom: 5px;
  }

  .menu__hamburger-button_hidden {
    visibility: hidden;
  }

  .menu__close-button {
    display: block;
  }

  .menu_opened {
    position: fixed;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    transition: background-color 0.5s ease-in-out;
  }

  .menu__container {
    flex-direction: column;
    align-items: center;

    background-color: #fafafa;

    position: fixed;
    top: 0;
    right: -100vw;

    width: 67.7%;
    height: 100%;

    opacity: 0;

    transition: all 0.5s ease-in-out;
  }

  .menu__container_visible {
    transform: translate(-100vw, 0);
    opacity: 1;
  }
}
