.profile {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.profile__info {
  max-width: 590px;

  margin: 0;
  padding: 0;
}

.profile__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;

  color: #000;

  margin: 0 0 20px;
  padding: 0;
}

.profile__photo {
  justify-self: flex-end;
  max-width: 270px;
  max-height: 327px;

  object-fit: cover;

  border-radius: 10px;

  margin: 0;
  padding: 0;
}

.profile__feature {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: #000;

  margin: 0 0 25px;
  padding: 0;
}

.profile__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-flow: column-reverse;
  }

  .profile__photo {
    max-width: 100%;
    margin: 0 0 40px;
  }

  .profile__name {
    font-size: 30px;
    line-height: 36px;
  }

  .profile__feature {
    font-size: 11px;
    line-height: 16px;

    margin-bottom: 25px;
  }

  .profile__description {
    font-size: 11px;
    line-height: 16px;

    margin-bottom: 40px;
  }
}
