.save-movies-card {
  position: relative;
  padding: 0;
  margin: 0;
}

.save-movies-card__button {
  position: absolute;
  top: 12px;
  right: 13px;
  padding: 0;
  opacity: 1;
  transition: all 0.25s linear;
  visibility: visible;
}

.save-movies-card__button_hidden {
  opacity: 0;
  visibility: hidden;
}
