.profile-form {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------------------------------------- */

.profile-form__field-wrapper {
  display: grid;
  height: auto;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  gap: 5px;
  grid-template-columns: max-content 1fr;
}

/* -------------------------------------------------------------------------- */
.profile-form__container {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 18px;
}

.profile-form__container:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
.profile-form__label {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

/* -------------------------------------------------------------------------- */
.profile-form__field {
  width: 100%;
  padding: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  text-align: right;
}

/* -------------------------------------------------------------------------- */
.profile-form__field-error {
  display: block;
  height: 14px;
}

/* -------------------------------------------------------------------------- */
.profile-form__submit-error {
  display: flex;
  height: 71px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
  white-space: normal;
}

/* -------------------------------------------------------------------------- */
.profile-form__fieldset {
  min-width: 0;
  border: 0;
  margin-bottom: 105px;
}

/* -------------------------------------------------------------------------- */
.profile-form__submit-button {
  width: 100%;
  padding: 13px 0;
  border-radius: 3px;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}

@media screen and (min-height: 750px) {
  .profile-form__fieldset {
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 460px) {
  .profile-form__fieldset {
    margin-bottom: 264px;
  }

  .profile-form__submit-button {
    font-size: 12px;
    line-height: 15px;
  }
}
