.error-message {
  font-size: 10px;
  line-height: 12px;

  color: #ee3465;

  width: 100%;
  overflow: hidden;
}

.error-message__text {
  /* width: 100%; */
}

.error-message_hidden {
  visibility: hidden;
}
