.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  height: 100vh;
}

.not-found__container {
  display: flex;
  flex-direction: column;
}

.not-found__error-code {
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  padding: 0;
  margin: 35vh 0 0;
}

.not-found__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;

  margin: 10px 0 0;
  padding: 0;
}

.not-found__button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #3456f3;

  margin: auto 0 60px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .not-found__error-code {
    font-size: 140px;
    line-height: 169px;

    margin-top: 40vh;
  }

  .not-found__description {
    margin-top: 0;
  }

  .not-found__button {
    margin-bottom: 220px;
  }
}

@media screen and (max-width: 320px) {
  .not-found__error-code {
    font-size: 80px;
    line-height: 97px;

    margin-top: 42vh;
  }

  .not-found__description {
    font-size: 12px;
    line-height: 15px;

    margin-top: 10px;
  }

  .not-found__button {
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 30px;
  }
}
