.portfolio__header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #a0a0a0;

  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100% - 7px);

  list-style: none;

  margin-right: 10px;
}

.portfolio__list-item {
  width: 100%;

  border-bottom: 1px solid #E8E8E8;

  padding-bottom: 19px;
  margin-bottom: 20px;
}

.portfolio__list-item:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  width: 100%;

  font-weight: normal;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;

  color: #000000;

  margin: 0 7px 0 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio__header {
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 40px;
  }

  .portfolio__list {
    padding-bottom: 25px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__list-item {
    margin-bottom: 20px;
  }
}
