.portfolio__header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #a0a0a0;

  margin: 0 0 20px;
  padding: 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100% - 7px);

  list-style: none;

  margin: 50px 0 0 0;
  padding: 0 10px 0 0;
}

.portfolio__list-item {
  width: 100%;

  margin: 40px 0 0;
  padding: 0;
}

.portfolio__list-item:first-of-type {
  margin-top: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  width: 100%;

  font-weight: normal;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;

  color: #000000;

  margin: 0 7px 0 0;
  padding: 0;
}


@media screen and (max-width: 320px) {
  .portfolio__header {
    font-size: 14px;
    line-height: 20px;

    margin: 0 0 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;

    border-bottom: 1px solid #e6e6e6;

    padding: 0 0 25px;
  }

  .portfolio__list-item {
    margin: 20px 0 0;
  }
}
