@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.searchable-movies-list__search-form {
  margin-bottom: 81px;
}

.searchable-movies-list__card-list_changing {
  animation: bounce-in 0.7s ease-in-out;
}

@media screen and (max-width: 460px) {
  .searchable-movies-list__search-form {
    margin-bottom: 48px;
  }
}