.button {
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s linear, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  visibility: visible;
}

.button_hidden {
  opacity: 0;
  visibility: hidden;
}

.button_disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* themes */
.button_theme_azure {
  background-color: #3456f3;
  color: #fff;
}

.button_theme_azure:hover {
  background-color: #2a49d3;
}

.button_theme_snow {
  background-color: #f4f4f4;
  color: #000;
}

.button_theme_snow:hover {
  background-color: #f0f0f0;
}

.button_theme_ghost {
  background-color: #e8e8e8;
  color: #000;
}

.button_theme_ghost:hover {
  background-color: #d4d4d4;
}

.button_theme_light {
  background-color: #fff;
  color: #000;
}

.button_theme_light:hover {
  background-color: #eee;
}

.button_theme_transparent {
  background-color: transparent;
  color: #000;
}

/* ----------------------------------------------------------------------- */
