.info-card {
  margin: 0;
  padding: 0;
}

.info-card__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: #000000;

  margin: 0 0 25px;
  padding: 0;
}
.info-card__container {
  margin: 111px 0 0;
  padding: 0;
}

.info-card__about {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  max-width: 550px;

  color: #000000;

  margin: 0;
  padding: 0;
}

.info-card__duration {
  display: block;
  text-align: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  background-color: #3456f3;
  color: #fff;

  max-width: 228px;
  width: 100%;

  margin: 0;
  padding: 9px 0;
}

.info-card__subject-area {
  display: block;
  text-align: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  background-color: #fff;
  color: #a0a0a0;

  max-width: 228px;
  width: 100%;

  margin: 5px 0 0;
  padding: 9px 0;
}
