.account {
  margin-bottom: 8px;
}

.account__list {
  margin: 0;
  padding: 0;
}

.account__profile-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  margin-right: 10px;
}

.account__logo {
  object-fit: cover;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 8px;
}

.account__link {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .account {
    margin: auto 0 92px;
  }
}

@media screen and (max-width: 468px) {
  .account {
    margin-bottom: 42px;
  }
}
