.account__container {
  margin: 3px 0 0;
  padding: 0;
}

.account__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  margin-right: 10px;
}

.account__button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .account__button {
    font-size: 10px;
  }
}
