.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 0 45px;
  padding: 0;
}

.navigation__list-item {
  list-style: none;

  margin: 0 17px 0 0;
  padding: 0;
}

.navigation__list-item:last-of-type {
  border-right: none;
  margin-right: 0;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;

  color: #000;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
    margin: 0 0 29px;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
  }

  .navigation__list-item {
    margin: 28px 0 0;
  }
}
