.nothing-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.nothing-found__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;

  margin-bottom: 80px;
}

.nothing-found__picture {
  object-fit: contain;
  width: 100%;
}
