.with-save {
  position: relative;
}

.with-save__save-button {
  position: absolute;
  top: 12px;
  right: 15px;
}

.with-save__save-button_checked {
  position: absolute;
  top: 12px;
  right: 13px;
}

@media screen and (max-width: 460px) {
  .with-save {
    position: relative;
  }

  .with-save__save-button {
    top: 8px;
    right: 10px;
  }

  .with-save__save-button_checked {
    position: absolute;
    top: 10px;
    right: 12px;
  }
}
