.field {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  caret-color: #000;

  color: #000000;

  border: 0;
  border-bottom: 1px solid #e8e8e8;

  padding-bottom: 9px;
}

.field_theme_transparent {
  background-color: transparent;
  color: #000;
}

.field:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}

.field_error {
  color: #ee3465;
}
