.field {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  border: 0;
  border-bottom: 1px solid transparent;

  margin: 5px 0 0;
  padding: 0 0 9px;
}

.field:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}

.field_error {
  color: #ee3465;
}
