.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #a0a0a0;
}

.field__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  border: 0;
  border-bottom: 1px solid transparent;

  margin: 5px 0 0;
  padding: 0 0 9px;
}

.field__input:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}

.field__error-message {
  visibility: hidden;

  font-size: 10px;
  line-height: 12px;

  color: #ee3465;

  margin: 5px 0 8px;
}

.field__error-message {
  visibility: visible;
}
