.save-button {
  font-size: 10px;
  line-height: 9px;

  border-radius: 30px;

  width: 72px;
  height: 22px;
}

.save-button_checked {
  background-image: url("../../images/checked-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 19px;
  height: 19px;
}
