.arrow-link {
  position: relative;
}

.arrow-link::after {
  position: absolute;
  top: 35%;
  right: 7px;
  content: "";

  width: 17px;
  height: 17px;

  background-image: url("../../images/arrow-link.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
