.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1140px;
  width: calc(100% - 140px);

  max-height: 172px;

  margin: 0 auto;
  padding: 79px 0 23px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-top: 19px;
}

.footer__about {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  width: 100%;

  text-align: center;

  color: #a0a0a0;

  border-bottom: 1px solid #e8e8e8;

  padding-bottom: 20px;
}

.footer__list {
  display: flex;
}

.footer__list-item {
  margin-right: 20px;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  color: #000;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 60px);
    padding-top: 70px;
  }

  .footer__container {
    margin-top: 16px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    width: calc(100% - 20px);
    padding-top: 27px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__list {
    flex-direction: column;
    margin: 0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__list-item {
    text-align: center;

    margin-right: 0;
    margin-bottom: 9px;
  }

  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }

  .footer__about {
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 11px;
  }

  .footer__copyright {
    color: #a0a0a0;

    width: 100%;
    justify-content: center;

    font-size: 12px;
    line-height: 15px;

    margin-top: 29px;
  }
}
