.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-height: 172px;

  margin: 24px 70px 0;
  padding: 79px 0 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 19px 0 0;
  padding: 0;
}

.footer__about {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  width: 100%;

  text-align: center;

  color: #a0a0a0;

  border-bottom: 1px solid #e8e8e8;

  margin: 0;
  padding: 0 0 20px;
}

.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin: 0 20px 0 0;
  padding: 0;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyright {
  display: flex;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  width: 50%;

  color: #000000;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 0 30px;
    padding: 70px 0 10px;
  }

  .footer__container {
    margin-top: 16px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin: 0 10px;
    padding-top: 27px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__list {
    flex-direction: column;
    margin: 0;
  }

  .footer__list-item {
    text-align: center;

    margin-right: 0;
    margin-bottom: 9px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }

  .footer__about {
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 11px;
  }

  .footer__copyright {
    width: 100%;
    justify-content: center;

    font-size: 12px;
    line-height: 15px;


    margin-top: 29px;
  }
}
