.saved-movies {
  width: calc(100% - 140px);
  margin: 0 auto 242px;
}

.saved-movies__search-form {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    width: calc(100% - 60px);
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 460px) {
  .saved-movies {
    width: calc(100% - 20px);
    margin-bottom: 208px;
  }

  .saved-movies__search-form {
    margin-bottom: 22px;
  }
}
