.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1140px;
  width: calc(100% - 140px);

  margin: 38px auto 0;
}

.techs__header {
  margin-bottom: 90px;
}

.techs__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;

  margin-bottom: 25px;
}

.techs__about {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;

  max-width: 460px;
}

.techs__list {
  list-style: none;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

.techs__list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: -0.04em;

  width: 90px;
  height: 60px;

  box-sizing: content-box;

  color: #000000;

  background-color: #e8e8e8;
  border-radius: 10px;

  margin-left: 10px;
}

.techs__list-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .techs {
    width: calc(100% - 100px);
    margin-top: 8px;
  }

  .techs__header {
    margin-bottom: 80px;
  }

  .techs__title {
    margin-bottom: 21px;
  }

  .techs__about {
    font-size: 12px;
    line-height: 18px;

    max-width: 430px;
  }

  .techs__list {
    width: calc(100% - 18px);
    margin-top: 82px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 320px) {
  .techs {
    width: calc(100% - 36px);
    margin-top: 131px;
  }

  .techs__header {
    margin-bottom: 58px;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36px;

    margin-bottom: 25px;
  }

  .techs__about {
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    max-width: 180px;

    margin-top: 50px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 15px;

    max-width: 84px;
    max-height: 57px;

    margin: 0;
  }
}
