.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__list-item {
  margin-right: 17px;
}

.navigation__list-item:last-of-type {
  margin-right: 0;
}

.navigation__link {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.navigation__link_underlined {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
  }

  .navigation__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }

  .navigation__list-item {
    margin-right: 0;
    margin-bottom: 28px;
  }

  .navigation__list-item:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 460px) {
  .navigation__list-item {
    margin-bottom: 24px;
  }

  .navigation__link_underlined {
    padding-bottom: 7px;
  }
}
