.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  width: 100%;
  max-width: 396px;
}

.login__form {
  max-height: 380px;
}

.login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000;

  margin-bottom: 40px;
}

.login__logo {
  margin-bottom: 40px;
}

.login__sub-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #a0a0a0;

  /* TODO сменить на bottom */
  margin: 14px 0 0;
}

.login__link {
  color: #3456f3;
  text-decoration: none;

  margin-left: 8px;
}

@media screen and (min-height: 850px) {
  .login {
    /*  TODO ... */
  }
}

@media screen and (max-width: 458px) {
  .login {
    align-items: center;

    max-width: calc(100% - 60px);

    /*  TODO ... */


  }

  .login__logo {
    margin-bottom: 50px;
  }

  .login__title {
    margin-bottom: 72px;
  }

  .login__form {

    /*  TODO ... */

    margin: 10px 0;
  }

  .login__sub-text {
    font-size: 12px;
    line-height: 15px;
    margin: 4px 0 7px;
  }
}
