.techs-item {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: -0.04em;

  max-width: 90px;
  max-height: 60px;

  width: 100vw;
  height: 100vh;

  color: #000000;

  background-color: #e8e8e8;
  border-radius: 10px;
}
