.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form__field-wrapper {
  margin-bottom: 4px;
}

.login-form__field-wrapper:last-of-type {
  margin-bottom: 0;
}

.login-form__fieldset {
  border: 0;
  margin-bottom: 201px;
}

.login-form__label {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
}

.login-form__submit-button {
  width: 100%;
  padding: 13px 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 460px) {
  .login-form__fieldset {
    margin-bottom: 289px;
  }

  .login-form__submit-button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
