.about-me {
  margin: 0;
  padding: 0 0 100px;
}

.about-me__header {
  margin: 0 0 65px;
}

.about-me__profile {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin: 0;
  padding: 0;
}

.about-me__info {
  max-width: 590px;
  width: 100%;

  margin: 0;
  padding: 0;
}

.about-me__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;

  color: #000;

  margin: 0 0 20px;
  padding: 0;
}

.about-me__avatar {
  justify-self: flex-end;
  max-width: 270px;
  max-height: 327px;

  object-fit: cover;

  margin: 0 0 0 auto;
  padding: 0;
}

.about-me__feature {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  color: #000;

  margin: 0 0 25px;
  padding: 0;
}

.about-me__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;

  margin: 0 0 100px;
  padding: 0;
}

.about-me__link-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;

  margin: 0;
  padding: 0;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000;

  margin: 0 20px 0 0;
  padding: 0;
}

.about-me__link:last-of-type {
  margin-right: 0;
}
