.about-me {
  margin: 212px 70px 0;
  padding: 0 0 100px;
}

.about-me__header {
  margin: 0 0 65px;
}

.about-me__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  list-style: none;

  margin: 0;
  padding: 0;
}

.about-me__list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000;

  margin: 0 20px 0 0;
  padding: 0;
}

.about-me__list-item:last-of-type {
  margin-right: 0;
}

.about-me__profile {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .about-me {
    margin: 70px 14px 0;
  }

  .about-me__header {
    margin: 0 0 60px;
  }

  .about-me__list-item {
    margin-right: 26px;
  }

  .about-me__portfolio {
    margin: 70px 0 0;
  }
}
