.about-me {
  margin: 212px 70px 100px;
  padding: 0;
}

.about-me__header {
  margin: 0 0 65px;
}

.about-me__portfolio {
  margin: 102px 0 0;
}

.about-me__personality {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .about-me {
    margin: 180px 50px 100px;
  }

  .about-me__header {
    margin-bottom: 67px;
  }

  .about-me__portfolio {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    margin: 140px 14px 100px;
  }

  .about-me__header {
    margin-bottom: 60px;
  }

  .about-me__list-item {
    margin-right: 26px;
  }

  .about-me__portfolio {
    margin-top: 70px;
  }
}
