.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;
}

.nav-tab__item {
  width: 100%;
  height: 100%;

  margin: 0 10px 0 0;
  padding: 0;
}

.nav-tab__item:last-of-type {
  margin-right: 0;
}

.nav-tab__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #000;
  background-color: #e8e8e8;
  border-radius: 10px;

  max-width: 96px;
  max-height: 36px;

  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .nav-tab {
    margin: 17px;
    padding: 0;
  }

  .nav-tab__button {
    font-size: 10px;

    max-width: 82px;
    max-height: 26px;
  }
}
