.search-field {
  display: flex;
}

.search-field__input {
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom: 1px solid transparent;
}

.search-field__icon {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  align-self: center;
}

.search-field__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #a0a0a0;
}

@media screen and (max-width: 320px) {
  .search-field__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .search-field__icon {
    display: none;
  }
}
